*{
	box-sizing: border-box;
}

article.challenger-form {

    display: flex;
    background: #ffffff;
    flex-direction: column;
    padding: 0% 0% 0% 2%;
    width: 95%;
}

article.range-form {
  	position: relative;
    background: #ffffff;
    width: 95%;
    height: 115px;
}

article.score-form{

	display: flex;
    background-color: #ffffff;
    width: 95%;
}

/*winner card styling*/
.proto-winner-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 225px;
	width: 100%;
	background-color: #FFFFFF;
}

.proto-winner-card-top {
	display: flex;
	flex-direction: row;
	color: #6E6E6E;
	font-weight: 300;
	justify-content: space-around;
	align-items: center;
	height: 40px;
	width: 95%;
	text-align: center;
	border-bottom: solid;
	border-width: 1.5px;
	border-color: #D0D2D3;
}

.challenger-1-name-output{
	color: #6E6E6E;
	font-weight: bold;
	margin: 0% 0% 0% 0%;
}

.challenger-2-name-output{
	color: #6E6E6E;
	font-weight: bold;
	margin: 0% 0% 0% 0%;
}

.match-winner-name {
}

.winner-label {
	font-weight: 300;
	font-size: 32px;
	color: #6E6E6E;
}

.proto-winner-card-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color:#6E6E6E;
	font-weight: lighter;
	height: 40px;
	width: 95%;
	text-align: center;
	border-top: solid;
	border-width: 1.5px;
	border-color: #D0D2D3;
}

.close-winner-card-button {
	height: 25px;
	font-size: 16px;
	color: #D0D2D3;
	background-color: #6E6E6E;
	border-radius: 50%;
}
/*winner card styling end*/


article.winner-card{
	display: flex;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
}

body {
	background-color: #656668;
	font-family: 'Open Sans', sans-serif;
}

button.clear-game-button{
	background-color: #6E6E6E;
    border-radius: 25px;
    border: 0;
    width: 30%;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

button.reset-game-button{
	background-color: #6E6E6E;
    border-radius: 25px;
    border: 0;
    width: 30%;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

button.submit-guess-button{
	background-color: #6E6E6E;
    border-radius: 25px;
    border: 0;
    width: 30%;
    height: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

button.update-button {
	background-color: #6E6E6E;
    border-radius: 25px;
    border: 0;
    width: 20%;
    height: 40px;
    color: #ffffff;
    margin-top: 8%;
    font-size: 20px;
    font-weight: 500;
}

div.button-group{
	display: flex;
    justify-content: space-around;
}

div.challenger-1 {
    display: flex;
    flex-direction: row;
    border-color: #D0D2D3;
    width: 85%;
    margin: 7% 0% 0 0;
    position: relative;
}
}

div.challenger-2 {
	display: flex;
    flex-direction: column;
    border-color: #D0D2D3;
    width: 85%;
    margin: 4% 4% 0 0;
}

div.button-group {
	display: flex;
    justify-content: space-around;
    margin: 3% 3% 3% 0%;
}

div.latest-score-container{
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0% 0% 0% 0%;
}

div.range-form-container{
	display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background: #ffffff;
    padding: 0% 3% 3% 3%;
    width: 100%;
}

div.score-results{
	display: flex;
    justify-content: space-around;
    width: 100%;
}

div.set-range {
    display: flex;
}

form.challenger-1-form{
    margin: 4% 3% 0% 0%;
}
form.challenger-2-form{
    margin: 4% 0% 0% 0%;
}

form.guess-1-form{
	margin: 6.3% 0% 0% 4%;
}

form.guess-2-form{
    
}


form.min-range-form{
	display: flex;
    flex-direction: column;
    width: 23%;
}

form.max-range-form{
	display: flex;
    flex-direction: column;
    width: 23%;
}

h1 {
	font-size: 4em;
	font-weight: lighter;
	border-bottom: none;
	margin: 0px 0px -20px 0px;
}

header {
	background-color: #404041;
	height: 100px;
	width: 100%;
	text-align: center;

}

input{
	height: 40px;
    width: 382px;
    margin: 0% 0% 0% 0%;
}

input.min-range {
	height: 40px;
    width: 130%;
}

input.max-range{
	height: 40px;
    width: 130%;
}

input.challenger-1-name {
    width: 382px;
    margin: 0% 0% 0% 0%;
}

input.challenger-2-name{

}

label {
	display: flex;
	flex-direction: column;
}

label.label-1-guess{
	display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1% 0% 0% 0%;
    font-size: 19px;
    font-weight: 300;
}

label.label-1-name{
	display: flex;
    flex-direction: column;
    width: 67%;
    margin: 1% 3% 0% 0%;
    font-size: 19px;
    font-weight: 300;
}

label.label-2-guess{
	display: flex;
    flex-direction: column;
    width: 30%;
    margin: 1% 0% 0% 0%;
    font-size: 19px;
    font-weight: 300;
}

label.label-2-name{
	display: flex;
    flex-direction: column;
    width: 67%;
    margin: 1% 3% 0% 0%;
    font-size: 19px;
    font-weight: 300;
}

main {
	width: 100%;
	display: flex;
}

output {
	font-size: 55px;
	font-weight: 700;
    color: #dd1972;
}


p.challenger-2-name{
	margin: 0% 0% 0% 0%;
}

p.challenger-1-text{
    position: absolute;
    margin: 0% 0% 0% 0%;
}

p.challenger-2-text {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
}

p.challenger-top-text {
    position: absolute;
    margin: 0;
    font-size: 16px;
    font-weight: 200;
}

p.challenger-1-result-message{
	margin: 0% 0% 0% 0%;

}

p.challenger-2-result-message{
	margin: 0% 0% 0% 0%;
}

p.current-guess-text{
    margin: 0% 0% 0% 0%;

}

p.latest-score-text{
	margin: 0% 0% 0% 0%;
	font-size: 20px;
    font-weight: 800;
}

p.min-range-text{
	margin: 0px;
	font-size: 19px;
    font-weight: 300;
}

p.max-range-text{
	margin: 0;
	font-size: 19px;
    font-weight: 300;
}

p.set-range{
    margin: 3% 0% 0% 3%;
    font-size: 20px;
    font-weight: 800;
}

section.left-section {
    display: flex;
    height: 800px;
    flex-direction: column;
    background-color: #F7F7F7;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

section.right-section{
	padding: 0% 2.5% 0% 2.5%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    background-color: #D0D2D3;

}

.bold-text {
	color: #DD1972;
	font-weight: bold;
}

.subtext-line {
	color: #FFFFFF;
	line-height: .1em;
	text-align: center;
	width: 34%;
	border-bottom: 1px solid #FFFFFF;
	margin-left: 33%;
	margin-right: 33%;
}

.header-subtext {
	background-color: #404041;
	color: #FFFFFF;
}


.min-range,
.max-range {
	color: #404041;
	text-decoration: underline;
	font-size: 20px;
    font-weight: 800;
}

.challenger-1 {
	border-color: #D0D2D3;
	display: inline-block;
}

button:hover,
button:active {
    background-color: #DD1972;
}

button:disabled,
button[disabled] {
    background-color: #D0D2D3;
}
